<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <ul class="phones" ng-controller="MyCtrl4">
                <li ng-repeat="venue in venues" class="thumbnail phone-listing">
                    <img ng-src="{{venue.photo}}">
                    <p>{{venue.name}}</p>
                    <p>{{venue.address}}</p>
                    <p>{{venue.website}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<search-widget-ui ng-controller="WidgetController"></search-widget-ui>