<p>DUDE! This is the partial for view 2.</p>
<p>
	Showing of 'interpolate' filter:
	{{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div ng-controller="MyCtrl2">
	<app-m-data>
</div>



<div ng-controller="MyCtrl5">
    <form>
      <input ng-model="qString">
      <button ng-click="searchBang(qString)">Search</button>
    </form>
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <show-results></show-results>
            </div>
        </div>
    </div>
</div>
